<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <style>
        footer {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
    <div>
        @RenderBody()
    </div>
    <hr />
    <footer>&copy; Copyright 2018, Virtual Haven Studios</footer>
</body>
</html>
